trunk/src/schema/opf30.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0">            
    <namespace ns="http://www.idpf.org/2007/opf">
        <validate schema="opf30.rnc" schemaType="application/relax-ng-compact-syntax" />
        <validate schema="opf30.sch" />      
    </namespace>               
</rules>