epub31/spec/schema/media-overlay-31.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0" startMode="smil">
    <mode name="smil">
        <namespace ns="http://www.w3.org/ns/SMIL">
            <validate schema="media-overlay-31.rnc" schemaType="application/relax-ng-compact-syntax"/>
            <validate schema="media-overlay-31.sch"/>
        </namespace>
    </mode>
    <mode name="attach">
        <anyNamespace>
            <attach/>
        </anyNamespace>
    </mode>
</rules>
