src/schema/ncx-30.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"  startMode="ncx">            

  <mode name="ncx">
    <namespace ns="http://www.daisy.org/z3986/2005/ncx/">
        <validate schema="ncx-30.rnc" schemaType="application/relax-ng-compact-syntax" useMode="attach" />
        <validate schema="ncx-30.sch"  useMode="attach" />      
    </namespace>  
  </mode>

  <mode name="attach">
    <anyNamespace>
      <attach/>
    </anyNamespace>
  </mode>
             
</rules>