src/schema/ncx30.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0">            
    <namespace ns="http://www.daisy.org/z3986/2005/ncx/">
        <validate schema="ncx30.rnc" schemaType="application/relax-ng-compact-syntax" />
        <validate schema="ncx30.sch" />      
    </namespace>               
</rules>